<h3>{{title}}</h3>

{{#if payments.length}}
	<ul>
	{{#each payment in payments}}
		<li class="payment">
			{{payment.description}}
			<span>
				<button {{action "removePayment" payment}} class="standard-button">Remove payment</button>
			</span>
		</li>
	{{/each}}
	</ul>
{{else}}
	<div class="warning-block">
		There are currently no payments for this trip
	</div>
{{/if}}


{{!-- sidebar prolly --}}
<button {{action "deleteTrip" this}} class="standard-button">Delete trip</button>
<button {{action "toggleNewPaymentForm"}} class="standard-button">{{newPaymentButtonText}}</button>

{{outlet}}
