{{#if settlements.length}}
	<div class="trip-summary trip-sidebar">
		<div class="section-title">
			Trip Summary
		</div>


		<div class="settlements">
			{{#each settlement in settlements}}
				<div class="settlement">
					{{settlement.payer.username}} owes {{settlement.payee.username}} <span class="settlement-amount">${{settlement.amount}}</span>
				</div>
			{{/each}}
		</div>

		<div class="">
			{{#if isSettled}}
				<div class="standard-button inactive-button" id="settle-trip-button">Trip Settled</div>
			{{else}}
				<div class="standard-button action-button" id="settle-trip-button" {{action "confirmSettleTrip"}}>Settle Trip</div>
			{{/if}}

			{{#if confirmSettleTrip}}
				<button {{action "settleTrip"}}class="standard-button">Yes</button>
				<button {{action 'hideConfirmSettleTrip'}} class="standard-button">No, cancel</button>
			{{/if}}
		</div>
	</div>
{{/if}}


<div class="trip-container">
	<div class="trip-heading border-top">
		<div id="trip-title">
			{{title}}
		</div>

		<div class="row trip-details full-width border-top no-margin">
			<div class="col-md-12">
				<span id="trip-members-title" class="bold">Trip members:</span>
				<div class="trip-members">
					<div class="inline-block">{{current-user-you organizer session.currentUser}}</div>
					{{#each user in usersWithoutOrganizer}}
						<div class="trip-member">{{current-user-you user session.currentUser}}</div>
					{{/each}}
					<div class="form-group no-margin inline-block">
						{{input type="text" class="form-control" id='add-user' value=addUser size="20" placeholder="Search for users"}}
					</div>
					<div {{action "addUserToTrip"}} class="outline-button action-button inline-block">Add user</div>
				</div>
			</div>
		</div>
	</div>


	<div class="trip-content">
		<!-- PAYMENTS -->
		<div class="row">
			<div class="col-md-12 payments-content">
				<div class="new-payment-form">
					<div class="row">
						<div class="col-md-8">
							<div class="new-payment-text">
								I spent $
								{{input type="text" class='transparent-input' id='amount' value=amount size="5"}}
								on
								{{input type="text" class='transparent-input' id='description' value=description size="20"}}
							</div>
						</div>
						<div class="col-md-4">
							<div {{action "addPaymentToTrip"}} class="standard-button action-button">Add payment</div>
						</div>
					</div>
					{{#if formError}}
						<div class="message-box error-message">Error: {{formError}}</div>
					{{/if}}
				</div>
				{{#if payments.length}}
					<div class="payments">
						{{#each payment in payments itemController='payment'}}
							{{list-payment paymentBinding=payment delete="removePayment" edit="updatePayment"}}
						{{/each}}
					</div>
				{{else}}
					<div class="warning-block">
						There are currently no payments for this trip
					</div>
				{{/if}}
			</div>
		</div>
	</div>
</div> <!-- end trip container -->




{{!-- decide where to go --}}
{{#if isCurrentUserOrganizer}}
	<button {{action "deleteTrip" this}} class="standard-button">Delete trip</button>
{{/if}}
