<div class="row">
	<div class="col-md-12" style="height: 400px; background-color: yellow;">
		<!-- IMAGE GOES HERE -->
	</div>
</div>

<div class="trip-content">
	<div class="row" style="background-color: gray">
		<div class="col-md-8">

			<h3 id="trip-title">{{title}}</h3>

			<div class="trip-members">

				<h4 id="trip-members-title" style="display: inline-block;">Trip members:</h3>

					<div class="trip-members">
						{{#each user in usersWithoutOrganizer}}
							<div class="trip-member">{{user.username}}</div>
						{{/each}}
					</div>

				<div {{action "toggleAddUser"}} id='new-user-button' class="add-button inline">{{addNewUserButtonText}}</div>

				{{#if isAddUserVisible}}
					<div class="form-group">
						{{input type="text" class="form-control" id='add-user' value=addUser size="60" placeholder="Search for users"}}
					</div>

					<button {{action "addUserToTrip"}} class="standard-button">Add user</button>
				{{/if}}

			</div>
		</div>
		<div class="col-md-4">
			<h3>Organizer</h3>
			<div class="trip-organizer">{{current-user-you organizer session.currentUser}}</div>
		</div>
	</div>


	<!-- PAYMENTS -->
	<div class="row">
		<div class="col-md-8 payments-content">

			<h4 class="inline">Payments</h4>

			<div {{action "toggleNewPaymentForm"}} class="add-button inline" id="new-payment-button" style="margin-left: 20px;">{{newPaymentButtonText}}</div>

			{{#if isAddPaymentVisible}}
				<div>
					<div class="new-payment-form">
						<div class="center-div-80">
							<div style="margin-bottom: 10px;">
								I spent $
								{{input type="text" class='transparent-input' id='amount' value=amount size="5"}}
								on
								{{input type="text" class='transparent-input' id='description' value=description size="20"}}
							</div>

							<div {{action "addPaymentToTrip"}} class="standard-button">Add payment</div>
							{{#if formError}}
								<div class="message-box error-message">Error: {{formError}}</div>
							{{/if}}
						</div>
					</div>
				</div>

			{{/if}}
			<hr>
			{{#if payments.length}}
				<div class="payments">
					{{#each payment in payments itemController='payment'}}
						<div class="payment">
							<img src="http://cdn3.rd.io/user/no-user-image-square.jpg" class="profile-image">
							<span style="margin-left: 20px;">
								{{current-user-you payment.user session.currentUser}} dropped ${{payment.amount}} on {{payment.description}}
							</span>
							{{#if payment.belongsToCurrentUser}}
								<span>
									<i {{action "removePayment" payment}} id="remove-payment"></i>
								</span>
							{{/if}}
						</div>
					{{/each}}
				</div>
			{{else}}
				<div class="warning-block">
					There are currently no payments for this trip
				</div>
			{{/if}}
		</div>

		<div class="col-md-4 trip-summary">
			<div class="section-title">
				Trip Summary
			</div>

			<!-- SETTLEMENTS GO HERE -->
			<div class="settlements">
				<div class="settlement">
					Jack owes steve $40
				</div>
				<div class="settlement">
					Jack owes steve $40
				</div>
				<div class="settlement">
					Jack owes steve $40
				</div>
			</div>

			<div class="center-div-80">
				<div class="standard-button" id="settle-trip-button">Settle Trip</div>
			</div>
		</div>
	</div>




	{{!-- decide where to go --}}
	{{#if isCurrentUserOrganizer}}
		<button {{action "deleteTrip" this}} class="standard-button">Delete trip</button>
	{{/if}}

</div>
