<div class="row">
	<div class="col-md-12" style="height: 400px; background-color: yellow;">
		<!-- IMAGE GOES HERE -->
	</div>
</div>

<div class="trip-content">
	<div class="row" style="background-color: gray">
		<div class="col-md-8">

			<h3>{{title}}</h3>

			<div class="trip-members">

				<h4 style="display: inline-block;">Trip members:</h3>

					<div class="trip-members">
						{{#each member in membersWithoutOrganizer}}
							<div class="trip-member">{{member.username}}</div>
						{{/each}}
					</div>

				<div {{action "toggleAddUser"}} class="add-button inline">{{addNewUserButtonText}}</div>

				{{#if isAddUserVisible}}
					<div class="form-group">
						{{input type="text" class="form-control" id='add-user' value=addUser size="60" placeholder="Search for users"}}
					</div>

					<button {{action "addUserToTrip"}} class="standard-button">Add user</button>
				{{/if}}

			</div>
		</div>
		<div class="col-md-4">
			<h3>Organizer</h3>
			<div class="trip-organizer">{{organizer.username}} (organizer)</div>
		</div>
	</div>


	<!-- PAYMENTS -->
	<div class="row">
		<div class="col-md-8 payments-content">

			<h4 class="inline">Payments</h4>

			<div {{action "toggleNewPaymentForm"}} class="add-button inline" style="margin-left: 20px;">{{newPaymentButtonText}}</div>

			{{#if isAddPaymentVisible}}
				<div>
					<div class="form-group">
						Description: {{input type="text" class="form-control" id='description' value=description size="60" placeholder="Description"}}
					</div>

					<div class="form-group">
						Amount: {{input type="text" class="form-control" id='amount' value=amount size="60" placeholder="Amount"}}
					</div>
				</div>

				<button {{action "addPaymentToTrip"}} class="standard-button">Add payment</button>
			{{/if}}

			{{#if payments.length}}
				<div class="payments">
					{{#each payment in payments}}
						<div class="payment">
							<img src="http://cdn3.rd.io/user/no-user-image-square.jpg" class="profile-image">
							<span style="margin-left: 20px;">Username dropped ${{payment.amount}} on {{payment.description}}</span>
							{{!-- <span>
								<button {{action "removePayment" payment}} class="standard-button">Remove payment</button>
							</span> --}}
						</div>
					{{/each}}
				</div>
			{{else}}
				<div class="warning-block">
					There are currently no payments for this trip
				</div>
			{{/if}}

			{{#if formError}}
				<p class="error-message">Error: {{formError}}</p>
			{{/if}}
		</div>
	</div>




	{{!-- decide where to go --}}
	<button {{action "deleteTrip" this}} class="standard-button">Delete trip</button>

</div>
